@model Usuario
<h1>realize e Edição do Usuário</h1>

<form action="EditarUsuario" method="post">
    <input type="text" name="Nome" id="UsuarioNome" value="@Model.Nome">
    <input type="text" name="Login" id="UsuarioLogin" value="@Model.Login">
    <input type="password" name="Senha" id="UsuarioSenha" value="">

    <select name="tipo" id="Usuariotipo">
        <option value="@Usuario.admin">Administrador</option>
        <option value="@Usuario.padrao">Padrão</option>
    </select>

    <input type="hidden" asp-for="Id"/>

    <input type="submit" value="CONCLUIR EDIÇÂO">

</form>